<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964966494053-t4rod2tnng2s21bq2hfut7oufttt0cne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964966494053-t4rod2tnng2s21bq2hfut7oufttt0cne</string>
	<key>API_KEY</key>
	<string>AIzaSyBEOARqCmz_AlC1hxmNBDOQoXL0z2QpWCE</string>
	<key>GCM_SENDER_ID</key>
	<string>964966494053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.appia.reactnative</string>
	<key>PROJECT_ID</key>
	<string>appia-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>appia-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964966494053:ios:bd7b7457465bab16f33b8c</string>
</dict>
</plist>